In [1]:
import pandas as pd
import numpy as np

In [2]:
bow=pd.read_csv(r"D:\Bowling\Bowling_ODI.csv")
bat=pd.read_csv(r"D:\Batting\ODI data.csv")

In [3]:
bat

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,NaN
2496,46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,NaN
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,NaN
2498,48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,NaN
2499,49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,NaN

In [4]:
print(bow.head(3))
print('--'*35)
print(bat.head(3))

   Unnamed: 0                        Player       Span  Mat Inns  Balls  \
0           0  M Muralitharan (Asia/ICC/SL)  1993-2011  350  341  18811
1           1             Wasim Akram (PAK)  1984-2003  356  351  18186
2           2            Waqar Younis (PAK)  1989-2003  262  258  12698

    Runs Wkts   BBI    Ave  Econ    SR   4   5  Unnamed: 13
0  12326  534  7/30  23.08  3.93  35.2  15  10          NaN
1  11812  502  5/15  23.52  3.89  36.2  17   6          NaN
2   9919  416  7/36  23.84  4.68  30.5  14  13          NaN
----------------------------------------------------------------------
   Unnamed: 0                       Player       Span  Mat Inns  NO   Runs  \
0           0         SR Tendulkar (INDIA)  1989-2012  463  452  41  18426
1           1  KC Sangakkara (Asia/ICC/SL)  2000-2015  404  380  41  14234
2           2         RT Ponting (AUS/ICC)  1995-2012  375  365  39  13704

     HS    Ave     BF     SR 100  50   0  Unnamed: 13
0  200*  44.83  21367  86.23  49  96  20          NaN
1   169  41.98  18048  78.86  25  93  15          NaN
2   164  42.03  17046  80.39  30  82  20          NaN

In [5]:
bow.drop(columns=['Unnamed: 13'],inplace=True)

In [6]:
bow

,Unnamed: 0,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,Ave,Econ,SR,4,5
0,0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,7/30,23.08,3.93,35.2,15,10
1,1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,5/15,23.52,3.89,36.2,17,6
2,2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,7/36,23.84,4.68,30.5,14,13
3,3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,8/19,27.53,4.18,39.4,9,4
4,4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,7/12,34.51,4.62,44.7,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2577,27,TJ Zoehrer (AUS),1986-1994,22,-,-,-,-,-,-,-,-,-,-
2578,28,K Zondo (SA),2018-2018,5,-,-,-,-,-,-,-,-,-,-
2579,29,B Zuiderent (NL),1996-2011,57,-,-,-,-,-,-,-,-,-,-
2580,30,Zulqarnain (PAK),1985-1989,16,-,-,-,-,-,-,-,-,-,-
2581,31,Zulqarnain Haider (PAK),2010-2010,4,-,-,-,-,-,-,-,-,-,-

In [7]:
bat.drop(columns=['Unnamed: 13'],inplace=True)

In [8]:
bat.replace('-',-1,inplace=True)

In [9]:
bat

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,45,ZS Ansari (ENG),2015-2015,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2496,46,Ariful Haque (BDESH),2018-2018,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2498,48,MD Bailey (NZ),1998-1998,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2499,49,GR Beard (AUS),1981-1981,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [10]:
bat['is_na']=(bat == -1).sum(axis=1)
bat

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,is_na
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,0
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,0
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,0
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,0
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,45,ZS Ansari (ENG),2015-2015,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,10
2496,46,Ariful Haque (BDESH),2018-2018,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,10
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,10
2498,48,MD Bailey (NZ),1998-1998,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,10
2499,49,GR Beard (AUS),1981-1981,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,10

In [ ]:
bat.iloc[:,-11].appymap(lambda x:x==-1)

In [ ]:
bat.isna().sum(axis=1)

In [11]:
bat=bat[bat['is_na']<=7]

In [12]:
bat.replace(-1,np.nan,inplace=True)
bat

C:\Users\Shailesh Poojary\AppData\Local\Temp\ipykernel_8440\3091432343.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bat.replace(-1,np.nan,inplace=True)

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,is_na
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,0
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,0
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,0
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,0
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2485,35,Tanvir Mehdi (PAK),1992-1992,1,1,0,0,0,0.00,5,0.00,0,0,1,0
2486,36,M Venkataramana (INDIA),1988-1988,1,1,1,0,0*,NaN,0,NaN,0,0,0,2
2487,37,R Walters (NAM),2003-2003,2,2,0,0,0,0.00,5,0.00,0,0,2,0
2488,38,CM Willoughby (SA),2000-2003,3,2,0,0,0,0.00,4,0.00,0,0,2,0
2489,39,Zakir Hossain (BDESH),1998-1998,1,1,0,0,0,0.00,1,0.00,0,0,1,0

In [13]:
bow.replace('-',-1,inplace=True)
bow

,Unnamed: 0,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,Ave,Econ,SR,4,5
0,0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,7/30,23.08,3.93,35.2,15,10
1,1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,5/15,23.52,3.89,36.2,17,6
2,2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,7/36,23.84,4.68,30.5,14,13
3,3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,8/19,27.53,4.18,39.4,9,4
4,4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,7/12,34.51,4.62,44.7,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2577,27,TJ Zoehrer (AUS),1986-1994,22,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2578,28,K Zondo (SA),2018-2018,5,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2579,29,B Zuiderent (NL),1996-2011,57,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2580,30,Zulqarnain (PAK),1985-1989,16,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2581,31,Zulqarnain Haider (PAK),2010-2010,4,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [ ]:
bow.replace('-1',np.nan,inplace=True)
bow

In [ ]:
bow=bow[bow.isna().sum(axis=1)<=7]

In [ ]:
bow

In [ ]:
bow.replace('-',-1,inplace=True)
bow

In [14]:
bow['is_na']=(bow == -1).sum(axis=1)
bow

,Unnamed: 0,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,Ave,Econ,SR,4,5,is_na
0,0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,7/30,23.08,3.93,35.2,15,10,0
1,1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,5/15,23.52,3.89,36.2,17,6,0
2,2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,7/36,23.84,4.68,30.5,14,13,0
3,3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,8/19,27.53,4.18,39.4,9,4,0
4,4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,7/12,34.51,4.62,44.7,4,9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2577,27,TJ Zoehrer (AUS),1986-1994,22,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,10
2578,28,K Zondo (SA),2018-2018,5,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,10
2579,29,B Zuiderent (NL),1996-2011,57,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,10
2580,30,Zulqarnain (PAK),1985-1989,16,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,10
2581,31,Zulqarnain Haider (PAK),2010-2010,4,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,10

In [15]:
bow=bow[bow['is_na']<=7]
bow

,Unnamed: 0,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,Ave,Econ,SR,4,5,is_na
0,0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,7/30,23.08,3.93,35.2,15,10,0
1,1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,5/15,23.52,3.89,36.2,17,6,0
2,2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,7/36,23.84,4.68,30.5,14,13,0
3,3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,8/19,27.53,4.18,39.4,9,4,0
4,4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,7/12,34.51,4.62,44.7,4,9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1868,18,Yasir Hameed (PAK),2003-2007,56,3,18,26,0,-1,-1,8.66,-1,0,0,3
1869,19,Zakir Hasan (BDESH),1997-1997,1,1,12,17,0,-1,-1,8.50,-1,0,0,3
1870,20,Zakir Hossain (BDESH),1998-1998,1,1,24,18,0,-1,-1,4.50,-1,0,0,3
1871,21,Zakiullah Zaki (AFG),2012-2012,1,1,24,27,0,-1,-1,6.75,-1,0,0,3
1872,22,C Zhuwao (ZIM),2008-2018,9,2,19,21,0,-1,-1,6.63,-1,0,0,3

In [16]:
bow.replace(-1,np.nan,inplace=True)
bow

C:\Users\Shailesh Poojary\AppData\Local\Temp\ipykernel_8440\127324090.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bow.replace(-1,np.nan,inplace=True)

,Unnamed: 0,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,Ave,Econ,SR,4,5,is_na
0,0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,7/30,23.08,3.93,35.2,15,10,0
1,1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,5/15,23.52,3.89,36.2,17,6,0
2,2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,7/36,23.84,4.68,30.5,14,13,0
3,3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,8/19,27.53,4.18,39.4,9,4,0
4,4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,7/12,34.51,4.62,44.7,4,9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1868,18,Yasir Hameed (PAK),2003-2007,56,3,18,26,0,NaN,NaN,8.66,NaN,0,0,3
1869,19,Zakir Hasan (BDESH),1997-1997,1,1,12,17,0,NaN,NaN,8.50,NaN,0,0,3
1870,20,Zakir Hossain (BDESH),1998-1998,1,1,24,18,0,NaN,NaN,4.50,NaN,0,0,3
1871,21,Zakiullah Zaki (AFG),2012-2012,1,1,24,27,0,NaN,NaN,6.75,NaN,0,0,3
1872,22,C Zhuwao (ZIM),2008-2018,9,2,19,21,0,NaN,NaN,6.63,NaN,0,0,3

In [17]:
bat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2490 entries, 0 to 2489
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2490 non-null   int64
 1   Player      2490 non-null   object
 2   Span        2490 non-null   object
 3   Mat         2490 non-null   int64
 4   Inns        2490 non-null   object
 5   NO          2490 non-null   object
 6   Runs        2490 non-null   object
 7   HS          2490 non-null   object
 8   Ave         2370 non-null   object
 9   BF          2490 non-null   object
 10  SR          2481 non-null   object
 11  100         2490 non-null   object
 12  50          2490 non-null   object
 13  0           2490 non-null   object
 14  is_na       2490 non-null   int64
dtypes: int64(3), object(12)
memory usage: 311.2+ KB

In [ ]:
bat

In [ ]:
bow['is_na']=bow.isna().sum(axis=1)
bow

In [ ]:
bow

In [ ]:
bow=bow[bow.isna().sum(axis=1)<=7]
bow

In [ ]:
bat['HS']=bat['HS'].apply(lambda x: str(x).removesuffix('*'))
bat

In [18]:
bat['HS'] = bat['HS'].str.rstrip('*')
bat

C:\Users\Shailesh Poojary\AppData\Local\Temp\ipykernel_8440\8090361.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bat['HS'] = bat['HS'].str.rstrip('*')

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,is_na
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200,44.83,21367,86.23,49,96,20,0
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,0
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,0
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,0
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2485,35,Tanvir Mehdi (PAK),1992-1992,1,1,0,0,0,0.00,5,0.00,0,0,1,0
2486,36,M Venkataramana (INDIA),1988-1988,1,1,1,0,0,NaN,0,NaN,0,0,0,2
2487,37,R Walters (NAM),2003-2003,2,2,0,0,0,0.00,5,0.00,0,0,2,0
2488,38,CM Willoughby (SA),2000-2003,3,2,0,0,0,0.00,4,0.00,0,0,2,0
2489,39,Zakir Hossain (BDESH),1998-1998,1,1,0,0,0,0.00,1,0.00,0,0,1,0

In [19]:
 bat[bat.columns[3:]]=bat[bat.columns[3:]].apply(pd.to_numeric)
bat

C:\Users\Shailesh Poojary\AppData\Local\Temp\ipykernel_8440\3759848649.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bat[bat.columns[3:]]=bat[bat.columns[3:]].apply(pd.to_numeric)

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,is_na
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200,44.83,21367,86.23,49,96,20,0
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,0
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,0
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34,0
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2485,35,Tanvir Mehdi (PAK),1992-1992,1,1,0,0,0,0.00,5,0.00,0,0,1,0
2486,36,M Venkataramana (INDIA),1988-1988,1,1,1,0,0,NaN,0,NaN,0,0,0,2
2487,37,R Walters (NAM),2003-2003,2,2,0,0,0,0.00,5,0.00,0,0,2,0
2488,38,CM Willoughby (SA),2000-2003,3,2,0,0,0,0.00,4,0.00,0,0,2,0
2489,39,Zakir Hossain (BDESH),1998-1998,1,1,0,0,0,0.00,1,0.00,0,0,1,0

In [20]:
bat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2490 entries, 0 to 2489
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2490 non-null   int64
 1   Player      2490 non-null   object
 2   Span        2490 non-null   object
 3   Mat         2490 non-null   int64
 4   Inns        2490 non-null   int64
 5   NO          2490 non-null   int64
 6   Runs        2490 non-null   int64
 7   HS          2490 non-null   int64
 8   Ave         2370 non-null   float64
 9   BF          2490 non-null   int64
 10  SR          2481 non-null   float64
 11  100         2490 non-null   int64
 12  50          2490 non-null   int64
 13  0           2490 non-null   int64
 14  is_na       2490 non-null   int64
dtypes: float64(2), int64(11), object(2)
memory usage: 311.2+ KB

In [21]:
filt=bat[bat['Inns'] >= 50]
filt

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,is_na
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200,44.83,21367,86.23,49,96,20,0
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,0
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,0
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34,0
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889,39,CRD Fernando (Asia/SL),2001-2012,147,61,35,239,20,9.19,392,60.96,0,0,9,0
914,14,M Dillon (WI),1997-2005,108,51,20,227,21,7.32,411,55.23,0,0,9,0
923,23,BKV Prasad (INDIA),1994-2001,161,63,31,221,19,6.90,367,60.21,0,0,8,0
1102,2,Rubel Hossain (BDESH),2009-2019,101,52,24,140,17,5.00,249,56.22,0,0,11,0
1187,37,GD McGrath (AUS/ICC),1993-2007,250,68,38,115,11,3.83,236,48.72,0,0,14,0

In [22]:
filt_p=filt.sort_values(by='Runs',ascending=False)

In [23]:
filt_p

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,is_na
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200,44.83,21367,86.23,49,96,20,0
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,0
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,0
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34,0
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889,39,CRD Fernando (Asia/SL),2001-2012,147,61,35,239,20,9.19,392,60.96,0,0,9,0
914,14,M Dillon (WI),1997-2005,108,51,20,227,21,7.32,411,55.23,0,0,9,0
923,23,BKV Prasad (INDIA),1994-2001,161,63,31,221,19,6.90,367,60.21,0,0,8,0
1102,2,Rubel Hossain (BDESH),2009-2019,101,52,24,140,17,5.00,249,56.22,0,0,11,0
1187,37,GD McGrath (AUS/ICC),1993-2007,250,68,38,115,11,3.83,236,48.72,0,0,14,0

In [24]:
filt_p['Filt_Centuries']=filt_p['100']+np.ceil(filt_p['50']/2)
filt_p

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,is_na,Filt_Centuries
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200,44.83,21367,86.23,49,96,20,0,97.0
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,0,72.0
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,0,71.0
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34,0,62.0
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,0,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889,39,CRD Fernando (Asia/SL),2001-2012,147,61,35,239,20,9.19,392,60.96,0,0,9,0,0.0
914,14,M Dillon (WI),1997-2005,108,51,20,227,21,7.32,411,55.23,0,0,9,0,0.0
923,23,BKV Prasad (INDIA),1994-2001,161,63,31,221,19,6.90,367,60.21,0,0,8,0,0.0
1102,2,Rubel Hossain (BDESH),2009-2019,101,52,24,140,17,5.00,249,56.22,0,0,11,0,0.0
1187,37,GD McGrath (AUS/ICC),1993-2007,250,68,38,115,11,3.83,236,48.72,0,0,14,0,0.0

In [25]:
bow[bow.columns[3:7]]=bow[bow.columns[3:7]].apply(pd.to_numeric)

C:\Users\Shailesh Poojary\AppData\Local\Temp\ipykernel_8440\3442975972.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bow[bow.columns[3:7]]=bow[bow.columns[3:7]].apply(pd.to_numeric)

In [26]:
bow[bow.columns[9:]]=bow[bow.columns[9:]].apply(pd.to_numeric)

C:\Users\Shailesh Poojary\AppData\Local\Temp\ipykernel_8440\3757406110.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bow[bow.columns[9:]]=bow[bow.columns[9:]].apply(pd.to_numeric)

In [27]:
filtert=bow[bow['Inns']>=100]
filtert

,Unnamed: 0,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,Ave,Econ,SR,4,5,is_na
0,0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,7/30,23.08,3.93,35.2,15,10,0
1,1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,5/15,23.52,3.89,36.2,17,6,0
2,2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,7/36,23.84,4.68,30.5,14,13,0
3,3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,8/19,27.53,4.18,39.4,9,4,0
4,4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,7/12,34.51,4.62,44.7,4,9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,25,SC Williams (ZIM),2005-2019,131,107,4080,3300,71,4/43,46.47,4.85,57.4,1,0,0
232,32,JP Duminy (SA),2004-2019,199,135,3513,3143,69,4/16,45.55,5.36,50.9,1,0,0
237,37,RR Singh (INDIA),1989-2001,136,117,3734,2985,69,5/22,43.26,4.79,54.1,0,2,0
286,36,MJ Clarke (AUS),2003-2015,245,106,2585,2146,57,5/35,37.64,4.98,45.3,1,1,0
422,22,SK Raina (INDIA),2005-2018,226,101,2126,1811,36,3/34,50.30,5.11,59.0,0,0,0

In [28]:
filtert.sort_values(by='Wkts', ascending=False)

,Unnamed: 0,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,Ave,Econ,SR,4,5,is_na
150,0,NJ Astle (NZ),1995-2007,223,159,4850,3809,99,4/43,38.47,4.71,48.9,1,0,0
154,4,N Boje (Afr/SA),1995-2005,115,108,4541,3415,96,5/21,35.57,4.51,47.3,2,1,0
157,7,V Sehwag (Asia/ICC/INDIA),1999-2013,251,146,4392,3853,96,4/6,40.13,5.26,45.7,1,0,0
172,22,Saleem Malik (PAK),1982-1999,283,120,3505,2959,89,5/35,33.24,5.06,39.3,1,1,0
173,23,MN Samuels (WI),2000-2018,207,134,5091,4127,89,3/12,46.37,4.86,57.2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,33,TM Dilshan (SL),1999-2016,330,204,5880,4778,106,4/4,45.07,4.87,55.4,3,0,0
132,32,PA de Silva (SL),1984-2003,308,156,5148,4177,106,4/30,39.40,4.86,48.5,2,0,0
137,37,GW Flower (ZIM),1992-2010,221,156,5462,4225,104,4/32,40.62,4.64,52.5,2,0,0
144,44,E Chigumbura (Afr/ZIM),2004-2018,213,132,4339,4274,101,4/28,42.31,5.91,42.9,1,0,0
146,46,SC Ganguly (Asia/INDIA),1992-2007,311,171,4561,3849,100,5/16,38.49,5.06,45.6,1,2,0

In [29]:
bow.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1873 entries, 0 to 1872
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1873 non-null   int64
 1   Player      1873 non-null   object
 2   Span        1873 non-null   object
 3   Mat         1873 non-null   int64
 4   Inns        1873 non-null   int64
 5   Balls       1873 non-null   int64
 6   Runs        1873 non-null   int64
 7   Wkts        1873 non-null   object
 8   BBI         1596 non-null   object
 9   Ave         1596 non-null   float64
 10  Econ        1873 non-null   float64
 11  SR          1596 non-null   float64
 12  4           1873 non-null   int64
 13  5           1873 non-null   int64
 14  is_na       1873 non-null   int64
dtypes: float64(3), int64(8), object(4)
memory usage: 234.1+ KB

In [30]:
bow['Wkts'] = pd.to_numeric(bow['Wkts'], errors='coerce')

C:\Users\Shailesh Poojary\AppData\Local\Temp\ipykernel_8440\3684371950.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bow['Wkts'] = pd.to_numeric(bow['Wkts'], errors='coerce')

In [31]:
average_balls = filtert['Balls'].mean()

filtered_bowl = filtert[filtert['Balls'] > average_balls]
filtered_bowl

,Unnamed: 0,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,Ave,Econ,SR,4,5,is_na
0,0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,7/30,23.08,3.93,35.2,15,10,0
1,1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,5/15,23.52,3.89,36.2,17,6,0
2,2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,7/36,23.84,4.68,30.5,14,13,0
3,3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,8/19,27.53,4.18,39.4,9,4,0
4,4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,7/12,34.51,4.62,44.7,4,9,0
5,5,SM Pollock (Afr/ICC/SA),1996-2008,303,297,15712,9631,393,6/35,24.50,3.67,39.9,12,5,0
6,6,GD McGrath (AUS/ICC),1993-2007,250,248,12970,8391,381,7/15,22.02,3.88,34.0,9,7,0
7,7,B Lee (AUS),2000-2012,221,217,11185,8877,380,5/22,23.36,4.76,29.4,14,9,0
8,8,SL Malinga (SL),2004-2019,226,220,10936,9760,338,6/38,28.87,5.35,32.3,11,8,0
9,9,A Kumble (Asia/INDIA),1990-2007,271,265,14496,10412,337,6/12,30.89,4.30,43.0,8,2,0
10,10,ST Jayasuriya (Asia/SL),1989-2011,445,368,14874,11871,323,6/29,36.75,4.78,46.0,8,4,0
11,11,J Srinath (INDIA),1991-2003,229,227,11935,8847,315,5/23,28.08,4.44,37.8,7,3,0
12,12,DL Vettori (ICC/NZ),1997-2015,295,277,14060,9674,305,5/7,31.71,4.12,46.0,8,2,0
13,13,SK Warne (AUS/ICC),1993-2005,194,191,10642,7541,293,5/33,25.73,4.25,36.3,12,1,0
14,14,AB Agarkar (INDIA),1998-2007,191,188,9484,8021,288,6/42,27.85,5.07,32.9,10,2,0
15,15,Saqlain Mushtaq (PAK),1995-2003,169,165,8770,6275,288,5/20,21.78,4.29,30.4,11,6,0
16,16,Z Khan (Asia/INDIA),2000-2012,200,197,10097,8301,282,5/42,29.43,4.93,35.8,7,1,0
17,17,JH Kallis (Afr/ICC/SA),1996-2014,328,283,10750,8680,273,5/30,31.79,4.84,39.3,2,2,0
18,18,AA Donald (SA),1991-2003,164,162,8561,5926,272,6/23,21.78,4.15,31.4,11,2,0
19,19,Abdul Razzaq (Asia/PAK),1996-2011,265,254,10941,8564,269,6/35,31.83,4.69,40.6,8,3,0
20,20,JM Anderson (ENG),2002-2015,194,191,9584,7861,269,5/23,29.22,4.92,35.6,11,2,0
21,21,Harbhajan Singh (Asia/INDIA),1998-2015,236,227,12479,8973,269,5/31,33.35,4.31,46.3,2,3,0
22,22,Mashrafe Mortaza (Asia/BDESH),2001-2019,217,217,10789,8759,266,6/26,32.92,4.87,40.5,7,1,0
23,23,M Ntini (ICC/SA),1998-2009,173,171,8687,6559,266,6/22,24.65,4.53,32.6,8,4,0
24,24,Shakib Al Hasan (BDESH),2006-2019,206,203,10517,7857,260,5/29,30.21,4.48,40.4,8,2,0
25,25,N Kapil Dev (INDIA),1978-1994,225,221,11202,6945,253,5/43,27.45,3.71,44.2,3,1,0
26,26,Shoaib Akhtar (Asia/ICC/PAK),1998-2011,163,162,7764,6169,247,6/16,24.97,4.76,31.4,6,4,0
27,27,KD Mills (NZ),2001-2015,170,169,8230,6485,240,5/25,27.02,4.72,34.2,8,1,0
29,29,HH Streak (Afr/ZIM),1993-2005,189,185,9468,7129,239,5/32,29.82,4.51,39.6,7,1,0
30,30,D Gough (ENG/ICC),1994-2006,159,156,8470,6209,235,5/44,26.42,4.39,36.0,10,2,0
31,31,CA Walsh (WI),1985-2000,205,204,10822,6918,227,5/1,30.47,3.83,47.6,6,1,0
32,32,CEL Ambrose (WI),1988-2000,176,175,9353,5429,225,5/17,24.12,3.48,41.5,6,4,0
33,33,Abdur Razzak (BDESH),2004-2014,153,152,7965,6065,207,5/29,29.29,4.56,38.4,5,4,0
34,34,CZ Harris (NZ),1990-2004,250,232,10667,7613,203,5/42,37.50,4.28,52.5,2,1,0
36,36,CL Cairns (ICC/NZ),1991-2006,215,186,8168,6594,201,5/42,32.80,4.84,40.6,3,1,0
38,38,KMDN Kulasekara (SL),2003-2017,184,181,8263,6751,199,5/22,33.92,4.90,41.5,4,1,0
39,39,BKV Prasad (INDIA),1994-2001,161,160,8129,6332,196,5/27,32.30,4.67,41.4,3,1,0
41,41,SR Waugh (AUS),1986-2002,325,207,8883,6761,195,4/33,34.67,4.56,45.5,3,0,0
42,42,CL Hooper (WI),1987-2003,227,203,9573,6958,193,4/34,36.05,4.36,49.6,3,0,0
48,48,Aaqib Javed (PAK),1988-1998,163,159,8012,5721,182,7/37,31.43,4.28,44.0,2,4,0
50,0,RA Jadeja (INDIA),2009-2019,159,155,8029,6552,181,5/36,36.19,4.89,44.3,7,1,0
63,13,Mushtaq Ahmed (PAK),1989-2003,144,142,7543,5361,161,5/36,33.29,4.26,46.8,3,1,0
65,15,Shoaib Malik (PAK),1999-2019,287,217,7958,6192,158,4/19,39.18,4.66,50.3,1,0,0
70,20,SR Tendulkar (INDIA),1989-2012,463,270,8054,6850,154,5/32,44.48,5.10,52.2,4,2,0
83,33,Mohammad Hafeez (PAK),2003-2019,218,177,7733,5400,139,4/41,38.84,4.18,55.6,1,0,0
93,43,P Utseya (ZIM),2004-2015,164,160,8571,6239,133,5/36,46.90,4.36,64.4,2,1,0

In [32]:
bat['top_bat'] = np.where((bat['Mat'] > 100) & (bat['Runs'] > bat['Runs'].quantile(0.8)), 'Top', 'Okay')

C:\Users\Shailesh Poojary\AppData\Local\Temp\ipykernel_8440\1484232091.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bat['top_bat'] = np.where((bat['Mat'] > 100) & (bat['Runs'] > bat['Runs'].quantile(0.8)), 'Top', 'Okay')

In [33]:
bat

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,is_na,top_bat
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200,44.83,21367,86.23,49,96,20,0,Top
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,0,Top
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,0,Top
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34,0,Top
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,0,Top
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2485,35,Tanvir Mehdi (PAK),1992-1992,1,1,0,0,0,0.00,5,0.00,0,0,1,0,Okay
2486,36,M Venkataramana (INDIA),1988-1988,1,1,1,0,0,NaN,0,NaN,0,0,0,2,Okay
2487,37,R Walters (NAM),2003-2003,2,2,0,0,0,0.00,5,0.00,0,0,2,0,Okay
2488,38,CM Willoughby (SA),2000-2003,3,2,0,0,0,0.00,4,0.00,0,0,2,0,Okay
2489,39,Zakir Hossain (BDESH),1998-1998,1,1,0,0,0,0.00,1,0.00,0,0,1,0,Okay

In [34]:
bow['top_bow'] = np.where((bow['Mat'] > 100) & (bow['Wkts'] > bow['Wkts'].quantile(0.8)), 'Top', 'Okay')

C:\Users\Shailesh Poojary\AppData\Local\Temp\ipykernel_8440\2841685417.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bow['top_bow'] = np.where((bow['Mat'] > 100) & (bow['Wkts'] > bow['Wkts'].quantile(0.8)), 'Top', 'Okay')

In [35]:
bow

,Unnamed: 0,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,Ave,Econ,SR,4,5,is_na,top_bow
0,0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,7/30,23.08,3.93,35.2,15,10,0,Top
1,1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,5/15,23.52,3.89,36.2,17,6,0,Top
2,2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,7/36,23.84,4.68,30.5,14,13,0,Top
3,3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,8/19,27.53,4.18,39.4,9,4,0,Top
4,4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,7/12,34.51,4.62,44.7,4,9,0,Top
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1868,18,Yasir Hameed (PAK),2003-2007,56,3,18,26,0,NaN,NaN,8.66,NaN,0,0,3,Okay
1869,19,Zakir Hasan (BDESH),1997-1997,1,1,12,17,0,NaN,NaN,8.50,NaN,0,0,3,Okay
1870,20,Zakir Hossain (BDESH),1998-1998,1,1,24,18,0,NaN,NaN,4.50,NaN,0,0,3,Okay
1871,21,Zakiullah Zaki (AFG),2012-2012,1,1,24,27,0,NaN,NaN,6.75,NaN,0,0,3,Okay
1872,22,C Zhuwao (ZIM),2008-2018,9,2,19,21,0,NaN,NaN,6.63,NaN,0,0,3,Okay

In [39]:
bow["cleanname"] = bow["Player"].str.split("(", expand = True)[0].str.upper().str.replace(" ", "")

C:\Users\Shailesh Poojary\AppData\Local\Temp\ipykernel_8440\370450379.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bow["cleanname"] = bow["Player"].str.split("(", expand = True)[0].str.upper().str.replace(" ", "")

In [40]:
bat["cleanname"] = bat["Player"].str.split("(", expand = True)[0].str.upper().str.replace(" ", "")

C:\Users\Shailesh Poojary\AppData\Local\Temp\ipykernel_8440\2883325389.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bat["cleanname"] = bat["Player"].str.split("(", expand = True)[0].str.upper().str.replace(" ", "")

In [45]:
df = pd.merge(bat[["cleanname", "top_bat"]], bow[["cleanname", "top_bow"]], how="inner" , on="cleanname")

In [46]:
df

            cleanname top_bat top_bow
0         SRTENDULKAR     Top     Top
1           RTPONTING     Top    Okay
2        STJAYASURIYA     Top     Top
3     DPMDJAYAWARDENE     Top    Okay
4      INZAMAM-UL-HAQ     Top    Okay
...               ...     ...     ...
1794         GSSOBERS    Okay    Okay
1795      TANVIRMEHDI    Okay    Okay
1796   MVENKATARAMANA    Okay    Okay
1797     CMWILLOUGHBY    Okay    Okay
1798     ZAKIRHOSSAIN    Okay    Okay

[1799 rows x 3 columns]

In [47]:
df[(df['top_bat']=='Top')&(df['top_bow']=='Top')]

          cleanname top_bat top_bow
0       SRTENDULKAR     Top     Top
2      STJAYASURIYA     Top     Top
6          JHKALLIS     Top     Top
7         SCGANGULY     Top     Top
10          CHGAYLE     Top     Top
..              ...     ...     ...
343        RAHARPER     Top     Top
359           ZKHAN     Top     Top
360          GBHOGG     Top     Top
368     ABDURRAZZAK     Top     Top
384  SAQLAINMUSHTAQ     Top     Top

[100 rows x 3 columns]