In [1]:
import pandas as pd
import numpy as np

In [2]:
path = r"C:\ALLIMPORTS"

In [3]:
df=pd.read_csv(path+'''\\20200306 Data International Women's Day Viz5 Launch.csv''')

In [4]:
df

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value
0,1,Afghanistan,F,Marital status,Never married,... if she burns the food,01/01/2015,NaN
1,1,Afghanistan,F,Education,Higher,... if she burns the food,01/01/2015,10.1
2,1,Afghanistan,F,Education,Secondary,... if she burns the food,01/01/2015,13.7
3,1,Afghanistan,F,Education,Primary,... if she burns the food,01/01/2015,13.8
4,1,Afghanistan,F,Marital status,"Widowed, divorced, separated",... if she burns the food,01/01/2015,13.8
...,...,...,...,...,...,...,...,...
12595,210,Zimbabwe,M,Residence,Urban,... if she goes out without telling him,01/01/2015,11.8
12596,280,Zimbabwe,M,Residence,Rural,... if she neglects the children,01/01/2015,20.1
12597,280,Zimbabwe,M,Residence,Urban,... if she neglects the children,01/01/2015,15.0
12598,350,Zimbabwe,M,Residence,Rural,... if she refuses to have sex with him,01/01/2015,7.2
12599,350,Zimbabwe,M,Residence,Urban,... if she refuses to have sex with him,01/01/2015,3.7

In [5]:
df['Question'].sample(10)

8050     ... if she refuses to have sex with him
6645     ... if she refuses to have sex with him
10996    ... if she refuses to have sex with him
6862                  ... if she argues with him
9153                  ... if she argues with him
10913                 ... if she argues with him
5302        ... for at least one specific reason
2546                   ... if she burns the food
3539     ... if she refuses to have sex with him
790                   ... if she argues with him
Name: Question, dtype: object

In [17]:
df[df.Country=='India'].sample(20)

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value
5729,242,India,M,Employment,Employed for cash,... if she neglects the children,01/01/2015,19.8
5621,242,India,F,Age,35-49,... if she neglects the children,01/01/2015,35.1
5730,242,India,M,Employment,Employed for kind,... if she neglects the children,01/01/2015,24.0
5737,382,India,M,Marital status,"Widowed, divorced, separated",... for at least one specific reason,01/01/2015,36.3
5589,32,India,F,Education,Primary,... if she burns the food,01/01/2015,21.1
5645,382,India,F,Employment,Employed for cash,... for at least one specific reason,01/01/2015,50.9
5602,32,India,M,Age,25-34,... if she burns the food,01/01/2015,10.2
5605,32,India,M,Age,15-24,... if she burns the food,01/01/2015,11.2
5738,102,India,M,Marital status,Married or living together,... if she argues with him,01/01/2015,19.5
5606,32,India,M,Marital status,"Widowed, divorced, separated",... if she burns the food,01/01/2015,11.4
5644,312,India,F,Education,Secondary,... if she refuses to have sex with him,01/01/2015,11.9
5658,312,India,F,Employment,Employed for kind,... if she refuses to have sex with him,01/01/2015,17.8
5757,242,India,M,Residence,Urban,... if she neglects the children,01/01/2015,18.0
5693,172,India,M,Age,35-49,... if she goes out without telling him,01/01/2015,14.9
5636,172,India,F,Education,Secondary,... if she goes out without telling him,01/01/2015,24.6
5598,32,India,M,Marital status,Married or living together,... if she burns the food,01/01/2015,9.7
5758,312,India,M,Residence,Rural,... if she refuses to have sex with him,01/01/2015,9.8
5747,312,India,M,Marital status,Married or living together,... if she refuses to have sex with him,01/01/2015,8.2
5593,32,India,F,Education,No education,... if she burns the food,01/01/2015,25.6
5664,102,India,F,Marital status,Never married,... if she argues with him,01/01/2015,23.6

In [13]:
df[df["Country"] == "India"]

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value
5580,32,India,F,Education,Higher,... if she burns the food,01/01/2015,11.4
5581,32,India,F,Residence,Urban,... if she burns the food,01/01/2015,15.2
5582,32,India,F,Marital status,Never married,... if she burns the food,01/01/2015,15.8
5583,32,India,F,Education,Secondary,... if she burns the food,01/01/2015,17.3
5584,32,India,F,Age,15-24,... if she burns the food,01/01/2015,17.5
...,...,...,...,...,...,...,...,...
5755,172,India,M,Residence,Urban,... if she goes out without telling him,01/01/2015,13.9
5756,242,India,M,Residence,Rural,... if she neglects the children,01/01/2015,21.0
5757,242,India,M,Residence,Urban,... if she neglects the children,01/01/2015,18.0
5758,312,India,M,Residence,Rural,... if she refuses to have sex with him,01/01/2015,9.8
5759,312,India,M,Residence,Urban,... if she refuses to have sex with him,01/01/2015,7.8

In [18]:
df.head(3)

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value
0,1,Afghanistan,F,Marital status,Never married,... if she burns the food,01/01/2015,NaN
1,1,Afghanistan,F,Education,Higher,... if she burns the food,01/01/2015,10.1
2,1,Afghanistan,F,Education,Secondary,... if she burns the food,01/01/2015,13.7

In [19]:
df.tail(3)

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value
12597,280,Zimbabwe,M,Residence,Urban,... if she neglects the children,01/01/2015,15.0
12598,350,Zimbabwe,M,Residence,Rural,... if she refuses to have sex with him,01/01/2015,7.2
12599,350,Zimbabwe,M,Residence,Urban,... if she refuses to have sex with him,01/01/2015,3.7

In [20]:
df['Country'].nunique()

70

In [21]:
df.select_dtypes(include='object').columns

Index(['Country', 'Gender', 'Demographics Question', 'Demographics Response',
       'Question', 'Survey Year'],
      dtype='object')

In [22]:
for i in df.select_dtypes(include = 'object').columns:
    print("Unique values in column:"+i)
    print(sorted(df[i].unique()))
    print("--"*30)
    print("")

Unique values in column:Country
['Afghanistan', 'Albania', 'Angola', 'Armenia', 'Azerbaijan', 'Bangladesh', 'Benin', 'Bolivia', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Chad', 'Colombia', 'Comoros', 'Congo', 'Congo Democratic Republic', "Cote d'Ivoire", 'Dominican Republic', 'Egypt', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras', 'India', 'Indonesia', 'Jordan', 'Kenya', 'Kyrgyz Republic', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Maldives', 'Mali', 'Moldova', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Nicaragua', 'Niger', 'Nigeria', 'Pakistan', 'Peru', 'Philippines', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Sierra Leone', 'South Africa', 'Tajikistan', 'Tanzania', 'Timor-Leste', 'Togo', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'Yemen', 'Zambia', 'Zimbabwe']
------------------------------------------------------------

Unique values in column:Gender
['F', 'M']
------------------------------------------------------------

Unique values in column:Demographics Question
['Age', 'Education', 'Employment', 'Marital status', 'Residence']
------------------------------------------------------------

Unique values in column:Demographics Response
['15-24', '25-34', '35-49', 'Employed for cash', 'Employed for kind', 'Higher', 'Married or living together', 'Never married', 'No education', 'Primary', 'Rural', 'Secondary', 'Unemployed', 'Urban', 'Widowed, divorced, separated']
------------------------------------------------------------

Unique values in column:Question
['... for at least one specific reason', '... if she argues with him', '... if she burns the food', '... if she goes out without telling him', '... if she neglects the children', '... if she refuses to have sex with him']
------------------------------------------------------------

Unique values in column:Survey Year
['01/01/2000', '01/01/2001', '01/01/2002', '01/01/2003', '01/01/2005', '01/01/2006', '01/01/2007', '01/01/2008', '01/01/2009', '01/01/2010', '01/01/2011', '01/01/2012', '01/01/2013', '01/01/2014', '01/01/2015', '01/01/2016', '01/01/2017', '01/01/2018']
------------------------------------------------------------

In [23]:
df.isna().sum()

RecordID                    0
Country                     0
Gender                      0
Demographics Question       0
Demographics Response       0
Question                    0
Survey Year                 0
Value                    1413
dtype: int64

In [24]:
miss=df[df.Value.isna()].Question.unique()
miss

array(['... if she burns the food',
       '... for at least one specific reason',
       '... if she argues with him',
       '... if she goes out without telling him',
       '... if she neglects the children',
       '... if she refuses to have sex with him'], dtype=object)

In [14]:
df["Question"].unique()

array(['... if she burns the food',
       '... for at least one specific reason',
       '... if she argues with him',
       '... if she goes out without telling him',
       '... if she neglects the children',
       '... if she refuses to have sex with him'], dtype=object)

In [25]:
print(df.shape)
df=df[~df.Country.isin(miss)]
print(df.shape)

(12600, 8)
(12600, 8)

In [18]:
miss1 = df[df["Question"] == "NaN"]
miss1
print(df.isna().sum())

RecordID                    0
Country                     0
Gender                      0
Demographics Question       0
Demographics Response       0
Question                    0
Survey Year                 0
Value                    1413
dtype: int64

In [19]:
df.Country.count()

12600

In [26]:
df[df.Value.isna()]

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value
0,1,Afghanistan,F,Marital status,Never married,... if she burns the food,01/01/2015,NaN
15,1,Afghanistan,M,Marital status,Never married,... if she burns the food,01/01/2015,NaN
81,351,Afghanistan,F,Marital status,Never married,... for at least one specific reason,01/01/2015,NaN
84,71,Afghanistan,F,Marital status,Never married,... if she argues with him,01/01/2015,NaN
87,141,Afghanistan,F,Marital status,Never married,... if she goes out without telling him,01/01/2015,NaN
...,...,...,...,...,...,...,...,...
12235,208,Yemen,M,Residence,Urban,... if she goes out without telling him,01/01/2013,NaN
12236,278,Yemen,M,Residence,Rural,... if she neglects the children,01/01/2013,NaN
12237,278,Yemen,M,Residence,Urban,... if she neglects the children,01/01/2013,NaN
12238,348,Yemen,M,Residence,Rural,... if she refuses to have sex with him,01/01/2013,NaN
12239,348,Yemen,M,Residence,Urban,... if she refuses to have sex with him,01/01/2013,NaN

In [38]:
miss = df[ df.Value.isna() ].Country.nunique()
miss

26

In [28]:
print(df.shape)
df = df[ ~df.Country.isin( miss ) ]
print(df.shape)

(12600, 8)
(7920, 8)

In [36]:
vm = df[df["Value"].isna()].Country.unique()

In [37]:
vm.shape

(26,)

In [29]:
df['Question'].value_counts

<bound method IndexOpsMixin.value_counts of 180                    ... if she burns the food
181                    ... if she burns the food
182                    ... if she burns the food
183                    ... if she burns the food
184                    ... if she burns the food
                          ...
12595    ... if she goes out without telling him
12596           ... if she neglects the children
12597           ... if she neglects the children
12598    ... if she refuses to have sex with him
12599    ... if she refuses to have sex with him
Name: Question, Length: 7920, dtype: object>

In [30]:
df['Survey Year']=pd.to_datetime(df['Survey Year'])

In [31]:
df['Filt_Year'] = df['Survey Year'].dt.year

In [32]:
pd.pivot_table(df,index='Filt_Year',columns='Gender',values='Value',aggfunc='mean')

Gender             F          M
Filt_Year
2006       10.698889  13.925556
2008       16.516667  15.728889
2009        7.981111   9.910000
2010       23.794444  16.992222
2011       19.858889  16.038889
2012       30.782222  14.774074
2013       29.435556  17.171944
2014       23.795556  14.579683
2015       17.697083  13.399444
2016       30.582222  18.162778
2017       18.111481  10.195185
2018       49.688333  29.987778

In [33]:
pd.pivot_table(df,index='Question',columns='Gender',values='Value',aggfunc='mean')

Gender                                           F          M
Question
... for at least one specific reason     39.598030  28.780606
... if she argues with him               23.710606  15.325152
... if she burns the food                13.120303   6.695606
... if she goes out without telling him  24.765303  15.055758
... if she neglects the children         29.265758  19.482727
... if she refuses to have sex with him  18.414848   9.455000

In [34]:
ind = df[ df['Country'] == 'India']

In [35]:
pd.pivot_table(ind, index='Question',columns='Gender', values = 'Value', aggfunc = 'mean')

Gender                                           F          M
Question
... for at least one specific reason     45.020000  32.760000
... if she argues with him               29.386667  21.366667
... if she burns the food                19.506667  10.633333
... if she goes out without telling him  26.526667  16.693333
... if she neglects the children         33.146667  20.366667
... if she refuses to have sex with him  13.600000   9.520000

In [49]:
average_value = df.groupby('Country')['Value'].mean()
average_value.sort_values(ascending = False)

Country
Timor-Leste                  46.210000
Eritrea                      46.186667
Morocco                      45.213333
Tajikistan                   44.304444
Afghanistan                  42.683333
Chad                         42.436667
Congo Democratic Republic    41.576111
Guinea                       40.256111
Mali                         39.420000
Turkmenistan                 36.190000
Congo                        34.908333
Azerbaijan                   32.666071
Tanzania                     29.567778
Sierra Leone                 29.441111
Niger                        29.211111
Ethiopia                     28.392222
Burundi                      27.692222
Yemen                        27.621111
Gambia                       26.373889
Cote d'Ivoire                25.322222
Uganda                       24.840556
Pakistan                     24.435119
Zambia                       24.361667
Myanmar                      23.656667
India                        23.210556
Senegal                      23.196667
Gabon                        23.109444
Cameroon                     22.748333
Kyrgyz Republic              22.683951
Kenya                        22.088889
Egypt                        21.679762
Burkina Faso                 20.393333
Cambodia                     19.460000
Liberia                      18.919444
Nigeria                      18.623333
Lesotho                      18.512222
Zimbabwe                     18.170556
Madagascar                   16.122778
Comoros                      16.013889
Rwanda                       15.480556
Bangladesh                   14.719048
Benin                        13.845556
Namibia                      13.601111
Togo                         13.533333
Jordan                       13.522963
Angola                       13.202222
Indonesia                    13.020238
Nepal                        12.700556
Eswatini                     12.312222
Ghana                        12.137778
Maldives                     11.504167
Sao Tome and Principe        11.025862
Moldova                      11.009259
Armenia                       9.553571
Guyana                        8.945556
Bolivia                       7.707778
Mozambique                    7.441111
Turkey                        6.964103
Malawi                        6.786111
Nicaragua                     6.618889
Haiti                         6.399444
Honduras                      5.776111
Albania                       5.417778
Philippines                   5.063333
Guatemala                     4.197222
Ukraine                       3.692308
South Africa                  3.594828
Colombia                      2.351111
Peru                          1.814444
Dominican Republic            1.585714
Name: Value, dtype: float64

In [48]:

average_value = df.groupby('Country')['Value'].mean().sort_values(ascending = False)
average_value

pd.set_option('display.max_rows', None)
average_value

Country
Timor-Leste                  46.210000
Eritrea                      46.186667
Morocco                      45.213333
Tajikistan                   44.304444
Afghanistan                  42.683333
Chad                         42.436667
Congo Democratic Republic    41.576111
Guinea                       40.256111
Mali                         39.420000
Turkmenistan                 36.190000
Congo                        34.908333
Azerbaijan                   32.666071
Tanzania                     29.567778
Sierra Leone                 29.441111
Niger                        29.211111
Ethiopia                     28.392222
Burundi                      27.692222
Yemen                        27.621111
Gambia                       26.373889
Cote d'Ivoire                25.322222
Uganda                       24.840556
Pakistan                     24.435119
Zambia                       24.361667
Myanmar                      23.656667
India                        23.210556
Senegal                      23.196667
Gabon                        23.109444
Cameroon                     22.748333
Kyrgyz Republic              22.683951
Kenya                        22.088889
Egypt                        21.679762
Burkina Faso                 20.393333
Cambodia                     19.460000
Liberia                      18.919444
Nigeria                      18.623333
Lesotho                      18.512222
Zimbabwe                     18.170556
Madagascar                   16.122778
Comoros                      16.013889
Rwanda                       15.480556
Bangladesh                   14.719048
Benin                        13.845556
Namibia                      13.601111
Togo                         13.533333
Jordan                       13.522963
Angola                       13.202222
Indonesia                    13.020238
Nepal                        12.700556
Eswatini                     12.312222
Ghana                        12.137778
Maldives                     11.504167
Sao Tome and Principe        11.025862
Moldova                      11.009259
Armenia                       9.553571
Guyana                        8.945556
Bolivia                       7.707778
Mozambique                    7.441111
Turkey                        6.964103
Malawi                        6.786111
Nicaragua                     6.618889
Haiti                         6.399444
Honduras                      5.776111
Albania                       5.417778
Philippines                   5.063333
Guatemala                     4.197222
Ukraine                       3.692308
South Africa                  3.594828
Colombia                      2.351111
Peru                          1.814444
Dominican Republic            1.585714
Name: Value, dtype: float64

In [42]:
df.sort_values(by='Value',ascending=False).head(20)

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value
66,351,Afghanistan,F,Employment,Employed for kind,... for at least one specific reason,01/01/2015,86.9
7783,394,Morocco,F,Employment,Employed for kind,... for at least one specific reason,01/01/2003,86.1
11023,412,Timor-Leste,F,Employment,Employed for kind,... for at least one specific reason,01/01/2016,85.2
7423,392,Mali,F,Employment,Employed for kind,... for at least one specific reason,01/01/2018,83.3
3666,371,Eritrea,F,Employment,Employed for kind,... for at least one specific reason,01/01/2002,82.8
7440,392,Mali,F,Marital status,Married or living together,... for at least one specific reason,01/01/2018,82.1
95,351,Afghanistan,F,Residence,Rural,... for at least one specific reason,01/01/2015,82.1
7399,392,Mali,F,Education,No education,... for at least one specific reason,01/01/2018,82.0
7818,394,Morocco,F,Residence,Rural,... for at least one specific reason,01/01/2003,81.9
7422,392,Mali,F,Employment,Employed for cash,... for at least one specific reason,01/01/2018,81.5
31,351,Afghanistan,F,Age,25-34,... for at least one specific reason,01/01/2015,81.5
7381,392,Mali,F,Age,25-34,... for at least one specific reason,01/01/2018,81.4
7458,392,Mali,F,Residence,Rural,... for at least one specific reason,01/01/2018,81.2
7382,392,Mali,F,Age,35-49,... for at least one specific reason,01/01/2018,81.0
46,351,Afghanistan,F,Education,No education,... for at least one specific reason,01/01/2015,81.0
80,351,Afghanistan,F,Marital status,Married or living together,... for at least one specific reason,01/01/2015,80.6
7400,392,Mali,F,Education,Primary,... for at least one specific reason,01/01/2018,80.5
65,351,Afghanistan,F,Employment,Employed for cash,... for at least one specific reason,01/01/2015,80.2
30,351,Afghanistan,F,Age,15-24,... for at least one specific reason,01/01/2015,80.1
67,351,Afghanistan,F,Employment,Unemployed,... for at least one specific reason,01/01/2015,80.1

In [41]:
df[df['Gender']=='F']['Value'].mean()

24.812474747474745

In [42]:
df[df['Gender']=='M']['Value'].mean()

15.799141414141413

In [35]:
df.sort_values('Value', ascending = False).head()

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value,Filt_Year
11023,412,Timor-Leste,F,Employment,Employed for kind,... for at least one specific reason,2016-01-01,85.2,2016
7423,392,Mali,F,Employment,Employed for kind,... for at least one specific reason,2018-01-01,83.3,2018
7440,392,Mali,F,Marital status,Married or living together,... for at least one specific reason,2018-01-01,82.1,2018
7399,392,Mali,F,Education,No education,... for at least one specific reason,2018-01-01,82.0,2018
7422,392,Mali,F,Employment,Employed for cash,... for at least one specific reason,2018-01-01,81.5,2018

In [44]:
t = pd.pivot_table(df, index='Country', columns = 'Question', values = 'Value', aggfunc='mean')
t

Question,... for at least one specific reason,... if she argues with him,... if she burns the food,... if she goes out without telling him,... if she neglects the children,... if she refuses to have sex with him
Country,,,,,,
Albania,10.883333,4.046667,0.883333,6.356667,8.173333,2.163333
Angola,22.640000,13.310000,8.526667,11.510000,14.206667,9.020000
Benin,21.990000,14.023333,9.656667,13.766667,14.620000,9.016667
Burkina Faso,35.080000,22.433333,7.893333,20.933333,22.950000,13.070000
Burundi,45.806667,18.503333,12.256667,26.700000,37.016667,25.870000
Cambodia,35.960000,16.370000,6.430000,20.306667,29.763333,7.930000
Cameroon,41.143333,18.680000,10.850000,23.123333,31.993333,10.700000
Chad,61.180000,35.416667,37.023333,42.666667,47.623333,30.710000
Colombia,4.646667,1.536667,1.336667,1.686667,3.400000,1.500000
Comoros,27.756667,10.800000,7.723333,17.383333,18.490000,13.930000
Congo Democratic Republic,66.400000,48.340000,18.680000,39.150000,44.470000,32.416667
Cote d'Ivoire,43.126667,28.046667,13.596667,22.450000,29.453333,15.260000
Eswatini,25.450000,18.620000,3.396667,10.773333,11.903333,3.730000
Ethiopia,42.166667,26.166667,22.880000,27.146667,30.810000,21.183333
Gabon,45.146667,23.366667,9.110000,17.636667,35.010000,8.386667
Gambia,44.696667,17.043333,8.140000,30.723333,26.616667,31.023333
Ghana,20.943333,10.913333,5.210000,11.933333,14.943333,8.883333
Guatemala,9.113333,2.850000,2.730000,2.743333,5.850000,1.896667
Guinea,59.303333,38.556667,19.226667,43.273333,46.280000,34.896667
Guyana,18.196667,7.886667,3.610000,6.786667,12.996667,4.196667
Haiti,13.426667,2.026667,2.760000,8.780000,7.663333,3.740000
Honduras,11.346667,4.550000,3.813333,3.876667,8.593333,2.476667
India,38.890000,25.376667,15.070000,21.610000,26.756667,11.560000
Kenya,39.580000,21.246667,6.220000,20.986667,30.976667,13.523333
Lesotho,35.213333,24.393333,6.126667,12.833333,23.223333,9.283333
Liberia,32.766667,25.150000,4.810000,20.760000,22.866667,7.163333
Madagascar,30.720000,7.086667,6.513333,18.390000,25.723333,8.303333
Malawi,13.533333,5.480000,3.586667,5.276667,6.903333,5.936667
Mali,59.930000,50.340000,15.450000,34.853333,35.633333,40.313333
Mozambique,14.650000,7.410000,3.836667,7.286667,5.690000,5.773333
Myanmar,49.973333,12.093333,10.266667,18.780000,40.470000,10.356667
Namibia,26.156667,11.160000,8.206667,12.003333,17.926667,6.153333
Nepal,26.546667,9.723333,2.543333,11.320000,22.460000,3.610000
Niger,40.886667,32.390000,19.820000,26.840000,26.473333,28.856667
Nigeria,29.896667,17.323333,11.026667,19.276667,19.433333,14.783333
Rwanda,27.800000,12.196667,4.970000,13.740000,19.596667,14.580000
Senegal,34.313333,24.873333,12.893333,21.693333,24.200000,21.206667
Sierra Leone,46.346667,33.760000,10.550000,34.376667,35.526667,16.086667
Tanzania,46.550000,30.933333,12.223333,29.766667,37.506667,20.426667
Timor-Leste,64.236667,45.190000,25.566667,55.470000,55.010000,31.786667
Togo,23.006667,14.253333,8.473333,13.293333,15.056667,7.116667
Uganda,43.413333,23.740000,9.863333,25.363333,32.480000,14.183333
Zambia,38.160000,25.880000,15.120000,21.970000,25.630000,19.410000
Zimbabwe,35.356667,15.300000,7.080000,20.466667,20.096667,10.723333

In [45]:
t.drop(columns = '... for at least one specific reason', inplace = True)
t

Question,... if she argues with him,... if she burns the food,... if she goes out without telling him,... if she neglects the children,... if she refuses to have sex with him
Country,,,,,
Albania,4.046667,0.883333,6.356667,8.173333,2.163333
Angola,13.310000,8.526667,11.510000,14.206667,9.020000
Benin,14.023333,9.656667,13.766667,14.620000,9.016667
Burkina Faso,22.433333,7.893333,20.933333,22.950000,13.070000
Burundi,18.503333,12.256667,26.700000,37.016667,25.870000
Cambodia,16.370000,6.430000,20.306667,29.763333,7.930000
Cameroon,18.680000,10.850000,23.123333,31.993333,10.700000
Chad,35.416667,37.023333,42.666667,47.623333,30.710000
Colombia,1.536667,1.336667,1.686667,3.400000,1.500000
Comoros,10.800000,7.723333,17.383333,18.490000,13.930000
Congo Democratic Republic,48.340000,18.680000,39.150000,44.470000,32.416667
Cote d'Ivoire,28.046667,13.596667,22.450000,29.453333,15.260000
Eswatini,18.620000,3.396667,10.773333,11.903333,3.730000
Ethiopia,26.166667,22.880000,27.146667,30.810000,21.183333
Gabon,23.366667,9.110000,17.636667,35.010000,8.386667
Gambia,17.043333,8.140000,30.723333,26.616667,31.023333
Ghana,10.913333,5.210000,11.933333,14.943333,8.883333
Guatemala,2.850000,2.730000,2.743333,5.850000,1.896667
Guinea,38.556667,19.226667,43.273333,46.280000,34.896667
Guyana,7.886667,3.610000,6.786667,12.996667,4.196667
Haiti,2.026667,2.760000,8.780000,7.663333,3.740000
Honduras,4.550000,3.813333,3.876667,8.593333,2.476667
India,25.376667,15.070000,21.610000,26.756667,11.560000
Kenya,21.246667,6.220000,20.986667,30.976667,13.523333
Lesotho,24.393333,6.126667,12.833333,23.223333,9.283333
Liberia,25.150000,4.810000,20.760000,22.866667,7.163333
Madagascar,7.086667,6.513333,18.390000,25.723333,8.303333
Malawi,5.480000,3.586667,5.276667,6.903333,5.936667
Mali,50.340000,15.450000,34.853333,35.633333,40.313333
Mozambique,7.410000,3.836667,7.286667,5.690000,5.773333
Myanmar,12.093333,10.266667,18.780000,40.470000,10.356667
Namibia,11.160000,8.206667,12.003333,17.926667,6.153333
Nepal,9.723333,2.543333,11.320000,22.460000,3.610000
Niger,32.390000,19.820000,26.840000,26.473333,28.856667
Nigeria,17.323333,11.026667,19.276667,19.433333,14.783333
Rwanda,12.196667,4.970000,13.740000,19.596667,14.580000
Senegal,24.873333,12.893333,21.693333,24.200000,21.206667
Sierra Leone,33.760000,10.550000,34.376667,35.526667,16.086667
Tanzania,30.933333,12.223333,29.766667,37.506667,20.426667
Timor-Leste,45.190000,25.566667,55.470000,55.010000,31.786667
Togo,14.253333,8.473333,13.293333,15.056667,7.116667
Uganda,23.740000,9.863333,25.363333,32.480000,14.183333
Zambia,25.880000,15.120000,21.970000,25.630000,19.410000
Zimbabwe,15.300000,7.080000,20.466667,20.096667,10.723333

In [46]:
t['sum_le10']=(t<5).sum(axis=1)
t

Question,... if she argues with him,... if she burns the food,... if she goes out without telling him,... if she neglects the children,... if she refuses to have sex with him,sum_le10
Country,,,,,,
Albania,4.046667,0.883333,6.356667,8.173333,2.163333,5
Angola,13.310000,8.526667,11.510000,14.206667,9.020000,2
Benin,14.023333,9.656667,13.766667,14.620000,9.016667,2
Burkina Faso,22.433333,7.893333,20.933333,22.950000,13.070000,1
Burundi,18.503333,12.256667,26.700000,37.016667,25.870000,0
Cambodia,16.370000,6.430000,20.306667,29.763333,7.930000,2
Cameroon,18.680000,10.850000,23.123333,31.993333,10.700000,0
Chad,35.416667,37.023333,42.666667,47.623333,30.710000,0
Colombia,1.536667,1.336667,1.686667,3.400000,1.500000,5
Comoros,10.800000,7.723333,17.383333,18.490000,13.930000,1
Congo Democratic Republic,48.340000,18.680000,39.150000,44.470000,32.416667,0
Cote d'Ivoire,28.046667,13.596667,22.450000,29.453333,15.260000,0
Eswatini,18.620000,3.396667,10.773333,11.903333,3.730000,2
Ethiopia,26.166667,22.880000,27.146667,30.810000,21.183333,0
Gabon,23.366667,9.110000,17.636667,35.010000,8.386667,2
Gambia,17.043333,8.140000,30.723333,26.616667,31.023333,1
Ghana,10.913333,5.210000,11.933333,14.943333,8.883333,2
Guatemala,2.850000,2.730000,2.743333,5.850000,1.896667,5
Guinea,38.556667,19.226667,43.273333,46.280000,34.896667,0
Guyana,7.886667,3.610000,6.786667,12.996667,4.196667,4
Haiti,2.026667,2.760000,8.780000,7.663333,3.740000,5
Honduras,4.550000,3.813333,3.876667,8.593333,2.476667,5
India,25.376667,15.070000,21.610000,26.756667,11.560000,0
Kenya,21.246667,6.220000,20.986667,30.976667,13.523333,1
Lesotho,24.393333,6.126667,12.833333,23.223333,9.283333,2
Liberia,25.150000,4.810000,20.760000,22.866667,7.163333,2
Madagascar,7.086667,6.513333,18.390000,25.723333,8.303333,3
Malawi,5.480000,3.586667,5.276667,6.903333,5.936667,5
Mali,50.340000,15.450000,34.853333,35.633333,40.313333,0
Mozambique,7.410000,3.836667,7.286667,5.690000,5.773333,5
Myanmar,12.093333,10.266667,18.780000,40.470000,10.356667,0
Namibia,11.160000,8.206667,12.003333,17.926667,6.153333,2
Nepal,9.723333,2.543333,11.320000,22.460000,3.610000,3
Niger,32.390000,19.820000,26.840000,26.473333,28.856667,0
Nigeria,17.323333,11.026667,19.276667,19.433333,14.783333,0
Rwanda,12.196667,4.970000,13.740000,19.596667,14.580000,1
Senegal,24.873333,12.893333,21.693333,24.200000,21.206667,0
Sierra Leone,33.760000,10.550000,34.376667,35.526667,16.086667,0
Tanzania,30.933333,12.223333,29.766667,37.506667,20.426667,0
Timor-Leste,45.190000,25.566667,55.470000,55.010000,31.786667,0
Togo,14.253333,8.473333,13.293333,15.056667,7.116667,2
Uganda,23.740000,9.863333,25.363333,32.480000,14.183333,1
Zambia,25.880000,15.120000,21.970000,25.630000,19.410000,0
Zimbabwe,15.300000,7.080000,20.466667,20.096667,10.723333,1

In [47]:
t[ t['sum_le10'] == 5]

Question,... if she argues with him,... if she burns the food,... if she goes out without telling him,... if she neglects the children,... if she refuses to have sex with him,sum_le10
Country,,,,,,
Albania,4.046667,0.883333,6.356667,8.173333,2.163333,5
Colombia,1.536667,1.336667,1.686667,3.400000,1.500000,5
Guatemala,2.850000,2.730000,2.743333,5.850000,1.896667,5
Haiti,2.026667,2.760000,8.780000,7.663333,3.740000,5
Honduras,4.550000,3.813333,3.876667,8.593333,2.476667,5
Malawi,5.480000,3.586667,5.276667,6.903333,5.936667,5
Mozambique,7.410000,3.836667,7.286667,5.690000,5.773333,5

In [58]:
t.applymap(lambda x : x < 5).sum(axis = 1)

Country
Albania                      4
Angola                       1
Benin                        1
Burkina Faso                 1
Burundi                      1
Cambodia                     1
Cameroon                     1
Chad                         1
Colombia                     5
Comoros                      1
Congo Democratic Republic    1
Cote d'Ivoire                1
Eswatini                     3
Ethiopia                     1
Gabon                        1
Gambia                       1
Ghana                        1
Guatemala                    4
Guinea                       1
Guyana                       3
Haiti                        4
Honduras                     4
India                        1
Kenya                        1
Lesotho                      1
Liberia                      2
Madagascar                   1
Malawi                       2
Mali                         1
Mozambique                   2
Myanmar                      1
Namibia                      1
Nepal                        3
Niger                        1
Nigeria                      1
Rwanda                       2
Senegal                      1
Sierra Leone                 1
Tanzania                     1
Timor-Leste                  1
Togo                         1
Uganda                       1
Zambia                       1
Zimbabwe                     1
dtype: int64

In [54]:
t1 = pd.pivot_table(df, index='Country', columns = 'Question', values = 'Value', aggfunc='mean')

In [55]:
t1['sum_gt20'] = (t1 > 20).sum(axis=1)

In [58]:
t1[ t1['sum_gt20'] == 6]

Question,... for at least one specific reason,... if she argues with him,... if she burns the food,... if she goes out without telling him,... if she neglects the children,... if she refuses to have sex with him,sum_gt20
Country,,,,,,,
Chad,61.180000,35.416667,37.023333,42.666667,47.623333,30.710000,6
Ethiopia,42.166667,26.166667,22.880000,27.146667,30.810000,21.183333,6
Timor-Leste,64.236667,45.190000,25.566667,55.470000,55.010000,31.786667,6